
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1, h2 {
    text-align: center;
    margin: 10px;
}

.form-group {
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #058007;
    border: none;
    
}

.btn-primary:hover {
    background-color: #045a01;
}
.table {
    width: 100%;

}

.table th {
    background-color: #38393a;
    color: #fff;
    border-style: ridge ;
    border: #38393a;
    margin-right: 20%;
    
}



